body {
  overflow: hidden;
  font-family: "Fredoka One", cursive;
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(#dbbe6c, #d7a013);
}

:root {
  --c-turquoise: #40a5a7;
  --c-green: #95b50a;
  --c-bg1: #dbbe6c;
  --c-bg2: #d7a013;
  --c-white: #ebe1d9;
  --c-black: #092a26;
}

.animShine {
  background: linear-gradient(90deg, green, #fff, rgba(0, 0, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: repeat;
  background-size: 80%;
  animation: shine 12s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

button {
  cursor: pointer;
  font-size: 38px;
  border-radius: 50px;
  font-family: "Fredoka One", cursive;
  padding: 6px 12px;
  transition: 0.5s;
  box-shadow: -5px 5px 41px -1px rgba(0, 0, 0, 0.801);
}

/* //////////////////// Container Intro //////////////////// */

.containerIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(../img/bgSnakyIntro.png);
  background-size: contain;
  background-position: center;
}

.containerIntro h1 {
  font-size: 120px;
  background-color: rgba(255, 255, 255, 0.801);
  padding: 25px 50px;
  border-radius: 50px;
  box-shadow: -5px 5px 41px -11px rgba(0, 0, 0, 0.801);
  text-align: center;
}

.containerIntro p {
  font-size: 22px;
  padding: 0;
  margin: 0 0 60px 0;
}

.containerIntro button {
  background-color: rgba(255, 255, 255, 0.801);
  border: 2px solid rgb(0, 128, 0);
}

.containerIntro button:hover {
  background-color: rgba(0, 0, 0, 0.801);
  border: 2px solid var(--c-white);
  color: var(--c-green);
  transition: 0.5s;
  box-shadow: -5px 5px 41px -2px rgba(0, 0, 0, 0.801);
}

/* //////////////////// Container result //////////////////// */

.containerResult {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(../img/bgSnakyIntro.png);
  background-size: contain;
  background-position: center;
  display: none;
}

.containerResult p {
  font-size: 80px;
  padding: 60px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 50px;
  text-transform: uppercase;
  box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.801);
  text-shadow: -5px 5px 41px rgba(255, 255, 255, 0.801);
}

.textResult {
  transition: 1s;
}

.hiddenResult {
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}

.showResult {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s ease;
  animation-name: resultAnim;
  animation-duration: 0.99s;
}

@keyframes resultAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.containerResult button {
  background-color: rgba(255, 255, 255, 0.801);
  border: 2px solid var(--c-black);
}

.containerResult button:hover {
  background-color: rgba(0, 0, 0, 0.801);
  border: 2px solid red;
  color: var(--c-white);
}

/* //////////////////// Container game //////////////////// */

.containerGame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

/* //////////////////// Title //////////////////// */

h1 {
  margin: 10px;
  font-size: 44px;
}

/* //////////////////// Pawn //////////////////// */

.pawn {
  left: 10%;
  bottom: 10%;
  position: fixed;
  z-index: 2;
  transition: 2s ease;
  width: 88px;
  height: 88px;
  font-size: 20px;
}

.pawn img {
  width: 88px;
  height: 88px;
}
.playerPawn1 p {
  position: absolute;
  left: 5px;
  top: 0;
  color: blue;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 1px 3px;
}
.playerPawn2 p {
  position: absolute;
  right: 5px;
  top: 0;
  color: red;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 1px 3px;
}

.stylePawn1 {
  box-shadow: -5px 5px 41px -18px rgba(0, 0, 255, 0.801),
    -5px 5px 41px -18px rgba(0, 0, 255, 0.205) inset;
}

.stylePawn2 {
  box-shadow: -5px 5px 41px -18px rgba(255, 0, 0, 0.801),
    -5px 5px 41px -18px rgba(0, 128, 0, 0.199) inset;
}

/* //////////////////// Container dice //////////////////// */

.containerDiceChange {
  position: absolute;
  width: 188px;
  height: 188px;
  background-color: rgba(255, 255, 255, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  border-radius: 50px;
  box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.801);
  z-index: 3;
}

.hiddenDiceChange {
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}

.showDiceChange {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s ease;
  animation-name: diceAnim;
  animation-delay: 1s;
  animation-duration: 0.999s;
}

.containerDice {
  position: absolute;
  width: 188px;
  height: 188px;
  background-color: rgba(255, 255, 255, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  border-radius: 50px;
  box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.801);
  text-shadow: -5px 5px 41px -18px rgba(255, 255, 255, 0.801);
  z-index: 3;
}

.hiddenDice {
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}

.showDice {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s ease;
  animation-name: diceAnim;
  animation-delay: 2s;
  animation-duration: 0.99s;
}

@keyframes diceAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

/* //////////////////// Container Stray //////////////////// */
.containerStray {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/bgSnaky.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.801);
}

.containerRow {
  display: flex;
}

.id {
  width: 6vw;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: var(--c-black);
  text-shadow: -5px 5px 41px var(--c-white);
  box-shadow: -5px 5px 41px -21px rgba(0, 0, 0, 0.5) inset;
}

/* //////////////////// Container Btn //////////////////// */

.containerBtn {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.containerBtn button {
  font-size: 30px;
  font-family: "Fredoka One", cursive;
  background-color: rgba(255, 255, 255, 0.801);
  border: 2px solid var(--c-black);
}

.btnPlayer1 {
  color: blue;
  display: none;
}

.btnPlayer1:hover {
  display: none;
  box-shadow: -5px 5px 21px -6px blue;
  border: 2px solid blue;
}

.btnPlayer2 {
  color: red;
  display: none;
}

.btnPlayer2:hover {
  display: none;
  box-shadow: -5px 5px 21px -6px red;
  border: 2px solid red;
}

.containerBtn button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--c-white);
  transition: 0.5s;
}

/* /////////////////// Media query //////////////////// */

@media screen and (max-width: 1300px) {
  .id {
    width: 7vw;
    height: 7vw;
  }
  .pawn {
    width: 7vw;
    height: 7vw;
  }
}

@media screen and (max-width: 1100px) {
  .id {
    width: 8vw;
    height: 8vw;
  }
  .pawn img {
    width: 8vw;
    height: 8vw;
  }
}

@media screen and (max-width: 950px) {
  .id {
    width: 9vw;
    height: 9vw;
  }
  .pawn img {
    width: 10vw;
    height: 10vw;
  }
}

@media screen and (max-width: 750px) {
  .id {
    width: 9vw;
    height: 12vw;
  }
  .pawn img {
    width: 11vw;
    height: 11vw;
  }
}

@media screen and (max-width: 550px) {
  .id {
    width: 9vw;
    height: 16vw;
  }
  .pawn img {
    width: 12vw;
    height: 12vw;
  }
  .containerIntro h1 {
    font-size: 110px;
    padding: 25px 20px;
  }
}

@media screen and (max-width: 450px) {
  .id {
    width: 9vw;
    height: 20vw;
  }
  .pawn img {
    width: 13vw;
    height: 13vw;
  }
  .containerIntro h1 {
    font-size: 100px;
    padding: 25px 0;
  }
  .containerResult p {
    font-size: 60px;
    padding: 20px;
  }
}

@media screen and (max-width: 350px) {
  .id {
    width: 9vw;
    height: 24vw;
  }
  .pawn img {
    width: 14vw;
    height: 14vw;
  }
  .containerIntro h1 {
    font-size: 80px;
  }
}
